$bg-color: #282828;
$txt-color: #fff;
$main-color: #670091;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;

$height-header: 8rem;
$width-mobile: 900px;
$width-tablet: 1350px;
$width-small-laptop: 1450px;

$font-family: 'Anek Latin',
    sans-serif;

$border-radius: 10px