@use '../../styles/' as *;

.detail-top-100 {
    margin: 110px 13% 32px;
    padding: 0 5%;

    .title {
        font-size: 28px;
    }

    .content-top-100 {
        margin: 32px 0;
        @include flex(flex-start, center);
        flex-wrap: wrap;
        gap: 36px;



        .box-img {
            width: 275px;
            box-shadow: 0 0 20px rgb(53, 52, 52);
            border-radius: 10px;
            height: 275px;
            overflow: hidden;


            img {
                border-radius: 10px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s ease-out;

            }
        }
    }
}